[Unit]
Description=co2monitor
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/co2monitor.py /dev/hidraw0
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
